*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: latoReg;
    src: url(fonts/Lato-Medium.ttf);
}

@font-face {
    font-family: lato;
    src: url(fonts/Lato-Heavy.ttf);
}

body{
    background-position: center;
    font-family: latoReg;
    background-color: rgb(168, 151, 151);
}

.logo-ish{
    color: rgb(216, 214, 214);
    font-family: lato;
    font-size: 1.2rem;
    display: flex;
    justify-content: flex-end;
}

.icon{
    background-image: transparent;
}

.container{
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1.5rem auto;
    margin-top: 3rem;
    width: 650px;
    min-width: 70%;
    background-color: #17181c;
    padding: 1.5rem;
}

.container1{
    border-radius: 0.5rem;
    background-image: url(images/pexels-jack-sparrow-4045931.jpg);  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-form{
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
    padding: 60px;
}

.login h3{
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: lato;
}

.h4{
    font-weight: 100;
    margin-top: 2rem;
}

.h5{
    font-size: small;
    font-weight: 100;
    text-decoration: underline;
    margin-top: 10px;
}

#h5{
    margin-top: 2rem;
    text-decoration: none;
    padding: 0.5rem;
    border: 2px solid white;
}

#h5:hover{
    background-color: rgb(4, 4, 53);
}

.secondH5{
    margin-top: 5px;
    color:red;
    font-weight: 100;
    text-transform: lowercase;
    font-size: small;
}

.thirdH5{
    margin-top: 5px;
    font-weight: 100;
    color: red;
    text-transform: lowercase;
    font-size: small;
}

input{ 
    width: 200px;
    margin-top: 30px;
    background-color: rgb(4, 4, 53);
    padding: 10px;
    font-size: 13px;
    border-radius: 20px;
    cursor: default ;
    color: white;
    border: none;
}

.btn{
    padding: 5px 20px;
    margin-top: 50px;
    background: transparent;
    border-radius: 20px;
    border: 1px solid rgb(53, 53, 149);
    cursor: default;
}

.btn:hover{
    background-color: rgb(53, 53, 149);
}

a{ 
    text-decoration: none;
    color: rgb(216, 214, 214);
}

a:hover{
    color: rgb(53, 53, 149);
}
