*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: latoBold;
    src: url(fonts/Lato-Bold.ttf);
    font-weight: bolder;
}
@font-face {
    font-family: latoRegular;
    src: url(fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: lato;
    src: url(fonts/Lato-Heavy.ttf);
}

body{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(images/pexels-andrea-piacquadio-927022.jpg);
    font-family: latoRegular;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   position: relative;
}

.logo-ish{
    color: rgb(216, 214, 214);
    font-family: lato;
    margin-top: 15px;
    margin-left: 18px;
    font-size: 25px;
}

button{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 45%;
    background-color: transparent;
    padding: 0.8rem;
    border-radius: 3rem;
    border: none;
    box-shadow: 0 0 13px black;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: #17181c;
    color: #fff;
}