*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: latoReg;
    src: url(fonts/Lato-Medium.ttf);
}

@font-face {
    font-family: lato;
    src: url(fonts/Lato-Heavy.ttf);
}

body{
    background-position: center;
    font-family: latoReg;
    background-color: rgb(4, 4, 53);
}

.logo-ish{
    color:  rgb(4, 4, 53);
    font-family: lato;
    font-size: 1.2rem;
    display: flex;
    justify-content: flex-end;
}

.icon{
    background-image: transparent;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 4.8rem auto;
    width: 650px;
    min-width: 70%;
    background-color: #caf0f8;
    padding: 1.5rem;
    border-radius: 0.3rem;
}

.container1{
    border-radius: 0.5rem;
    background-image: url(images/pexels-jack-sparrow-4045931.jpg); 
    box-shadow:  0 0 6px black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-form{
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #17181c;
    padding: 60px;
}

.login h3{
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: lato;
}

h4{
    font-weight: bold;
    margin-top: 2.5rem;
    font-size: small;
}

h5{
    font-size: 0.7rem;
    margin-top: 5px;
}


.link{ 
    text-decoration: none;
    color: #17181c;
}

.link:hover{
    color: #0077b6;
} 
.secondH5{
    margin-top: 5px;
    color:rgb(187, 10, 10);
    font-weight: bold;
    text-transform: lowercase;
    font-size: small;
}

.thirdH5{
    margin-top: 5px;
    font-weight: bold;
    color: rgb(187, 10, 10);
    text-transform: lowercase;
    font-size: small;
}

input{ 
    width: 200px;
    margin-top: 30px;
    background-color: #90e0ef;
    padding: 10px;
    font-size: 13px;
    border-radius: 20px;
    box-shadow:  0 0 3px black;
    cursor: pointer;
    color: white;
    border: none;
    color: #17181c;
    font-weight: bold;
}

.btn{
    padding: 5px 20px;
    margin-top: 50px;
    background: transparent;
    border-radius: 20px;
    /* border: 3px solid  rgb(4, 4, 53); */
    box-shadow:  0 0 3px black;
    cursor: pointer;
    font-weight: bold;
}

.btn:hover{
    background-color: rgb(4, 4, 53);
    color: #fff;
}



.signUp{
    background-color: transparent;
    margin-top: 3rem;
    padding: 0.5rem;
    /* border: 3px solid  rgb(4, 4, 53); */
    box-shadow:  0 0 3px black;
    cursor: pointer;
    font-weight: bold;
}

#signUp{
    text-decoration: none;
    color: #17181c;
}

.signUp:hover{
    color: #fff;
    background-color:  rgb(4, 4, 53);
}

#iconG{
    color: blue;
    padding-right: 0.5rem;
    font-size: 1rem;
}

